footer {
  @media screen and (min-width: 768px) {
    background-color: $primary-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;

    &-list {
      padding: 0px;
      list-style: none;
      height: 81px;
      width: 231px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.adress {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-color: $primary-bg-color;
    color: $primary-white-color;
    font-family: $title-fonts;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    display: flex;
    flex-wrap: wrap;

    &-list {
      margin-right: 165px;
      margin-left: 76px;
      text-align: center;
    }
    & .logo {
      color: $primary-white-color;
      margin-right: 0;
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
    & .link {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      padding-bottom: 9px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
    &-link {
      color: $primary-white-color;
      font-family: $title-fonts;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      text-decoration: none;
    }
  }
}

.social {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;

    &-slogan {
      font-family: $title-fonts;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $primary-white-color;
      padding-bottom: 20px;
      margin: 0px;
    }
    &-link {
      display: flex;
      width: 44px;
      height: 44px;
      margin-right: 10px;
      border-radius: 0px 0px 4px 4px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: $accent-color;
        color: $primary-white-color;
      }
    }
  }
}

.websocial-list {
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0px;
    margin: 0px;
  }
}
.seti-icon {
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin: 12px;
    fill: currentColor;
    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primary-white-color;
    }
  }
}

.mailing {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    margin-left: 166px;
    margin-right: 152px;
    margin-top: 60px;

    &-slogan {
      font-family: $title-fonts;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $primary-white-color;
    }
    &-field {
      margin-bottom: 20px;
    }
    &-input {
      margin-bottom: 20px;
      width: 358px;
      height: 50px;
      left: 815px;
      top: 2785px;
      padding-left: 16px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      outline: transparent;
      background-color: $primary-bg-color;
      color: $primary-text-color;
    }
  }
}

.button-mailing {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    color: $primary-white-color;
    outline: transparent;
    border: none;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 29px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.mailing-send {
  @media screen and (min-width: 768px) {
    margin: 13px 0px 13px 10px;
  }
}
