/*cards*/

.cards {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  width: 370px;
  height: 404px;

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-child(n + 7) {
    margin-bottom: 0px;
  }
  &-thumb {
    position: relative;
    overflow: hidden;
  }
  & .link {
    display: block;
  }

  &:hover .text-overlay {
    transform: translateY(0);
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-thumb {
  padding: 63px 24px;
  font-family: $title-fonts;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}
/*Название постеров*/

.card-content {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top-color: $primary-white-color;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}
.portfolio-title {
  color: $title-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.portfolio-list {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  margin: 0px;
}
.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
