span {
  color: $accent-color;
}
.logo {
  margin-right: 93px;
  color: $title-text-color;
  font-family: $title-logo;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.link:hover,
.link:focus {
  color: $title-text-color;
}

.main-nav {
  @extend %flex-row;
}
.site-nav {
  display: flex;
  & .item:not(:last-child) {
    margin-right: 50px;
  }
  & .link {
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    color: $title-text-color;
    font-family: $title-fonts;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.site-nav .link.current {
  color: $accent-color;
  position: relative;
}
.link.current::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 76px;
  background: $accent-color;
  border-radius: 2px;
}
.aut-nav {
  display: flex;
  margin-left: auto;

  & .item:not(:last-child) {
    margin-right: 50px;
  }
  & .link {
    color: $primary-text-color;
    font-family: $title-fonts;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.aut-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.aut-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.link-icon {
  fill: currentColor;
  vertical-align: middle;
}
