/*  team*/
.team {
  padding-bottom: 94px;
  padding-top: 94px;
  display: flex;
  background: #f5f4fa;

  &-title {
    color: $title-text-color;
    font-family: $title-fonts;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 50px;
  }
  &-element {
    margin-right: 30px;
    background: $primary-white-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &-name {
    color: $title-text-color;
    font-family: $title-fonts;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    &-text {
      font-family: $title-fonts;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.9;
      text-align: center;
    }
  }
}

.networks {
  @extend %flex-row;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
  color: #afb1b8;

  &-link {
    display: flex;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      @extend %color;
    }
    &:nth-child(4n) {
      margin-right: 0px;
    }
  }
}

.seti-icon {
  display: inline-block;
  margin: 12px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    @extend %color;
  }
}
