/*  work*/
.work {
  padding-bottom: 94px;
  display: flex;
  &-title {
    color: $title-text-color;
    font-family: $title-fonts;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 50px;
  }
}

.flex-element {
  margin-right: 30px;
  position: relative;
  &:nth-child(3n) {
    margin-right: 0;
  }
  & > .subtitle {
    position: absolute;
    font-family: $title-fonts;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
    bottom: 0;
    width: 100%;
    padding: 27px 0px;
    margin: 0px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
