.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

header {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.section-title {
  color: $title-text-color;
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0px;
}
ul.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

li.item {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0px;
}
textarea {
  resize: none;
}
